main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.form {
  background-color: floralwhite;
  width: max-content;
  border-width: 2px;
  border-color: thistle;
  border-style: solid;
  margin: 3px;
}

.form fieldset {
  border: none;
}

.form fieldset div {
  margin-bottom: 5px;
}

button#copy {
  margin: 3px;
}
