main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.form {
  background-color: floralwhite;
  width: max-content;
  border-width: 2px;
  border-color: thistle;
  border-style: solid;
  margin: 3px;
}

.form fieldset {
  border: none;
}

.form fieldset div {
  margin-bottom: 5px;
}

button#copy {
  margin: 3px;
}

div.result {
  margin: 0px 15px;
}

div.result h3 {
  margin: 0;
}

div.result ul {
  padding: 3px;
  font-size: 70%;
  list-style-type: none;
}

div.result ul li {
  margin: 0;
}

.kgco2e {
  color: darkmagenta;
}
